@font-face {
    font-family: 'KimjungchulMyungjo';
    font-weight: 300;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/KimjungchulMyungjo/KimjungchulMyungjo-Light.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/KimjungchulMyungjo/KimjungchulMyungjo-Light.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/KimjungchulMyungjo/KimjungchulMyungjo-Light.otf') format('opentype');
}
@font-face {
    font-family: 'KimjungchulMyungjo';
    font-weight: 400;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/KimjungchulMyungjo/KimjungchulMyungjo-Regular.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/KimjungchulMyungjo/KimjungchulMyungjo-Regular.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/KimjungchulMyungjo/KimjungchulMyungjo-Regular.otf') format('opentype');
}
@font-face {
    font-family: 'KimjungchulMyungjo';
    font-weight: 700;
    font-style: normal;
    font-display: swap;
    src: url('https://cdn.jsdelivr.net/gh/fonts-archive/KimjungchulMyungjo/KimjungchulMyungjo-Bold.woff2') format('woff2'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/KimjungchulMyungjo/KimjungchulMyungjo-Bold.woff') format('woff'),
         url('https://cdn.jsdelivr.net/gh/fonts-archive/KimjungchulMyungjo/KimjungchulMyungjo-Bold.otf') format('opentype');
}
